body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}


.App {
    max-width: inherit;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;

}

form {
    margin-bottom: 20px;
}

form input {
    margin: 0px 10px 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccccccde;


}
form button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
}

form button:hover {
    background-color: #041222;
}

.filter {
    margin-bottom: 20px;
}

.filter input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter button {
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #28a745;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in;
}

.filter button:hover {
    background-color: #218838;
}

.movie-list {
    display: flex;
    flex-direction: row;
    width: 600px;
}

.movie-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.movie-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.movie-card p {
    margin: 5px 0;
}